.signUpBlock {
    transform: translate(0px, 35%);

    .signUpTitle {
        text-align: center;
        margin-top: 0;
    }
}

#light .signUpTitle {
    color: black;
}

#dark .signUpTitle {
    color: white;
}