input:focus ~ label {
    bottom: 30px;  
    left: 75px;  
    color: blue;
    transition: .5s;
    font-size: 15px;
}

.formEmailError,
.formPasswordError,
.formPasswordConfirmationError {
    color: red;
}

.formBlock {
    background: linear-gradient(#141e30, #243b55);
    margin: 0 auto;
    width: 24%;
    height: 317px;
    text-align: center;
    border-radius: 15px;

    .formButton {
        width: 95px;
        height: 30px;
        border-radius: 6px;
        border: none;
        background-color: blue;
        font-size: 16px;
        margin-top: 15px;
    }

    .formButton:active {
        background-color: red;
    }

    label {
        color: #fff;
        font-size: 16px;
        z-index: 1000000;
    }

    input {
        border: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
        font-size: 17px;
        display: block;
        margin: 0 auto;
        padding: 12px;
    }

    .formUserErrorMessage {
        color: red;
        margin-top: 15px;
    }
}

.formSignUpBlock{
    text-align: center;
    margin-top: 10px;
}

.formSignUpBlock button {
    width: 24%;
}

