input:focus ~ label {
    bottom: 30px;  
    left: 75px;  
    color: blue;
    transition: .5s;
    font-size: 15px;
}

.form_email_error,
.form_password_error,
.form_password_confirmation_error {
    color: red;
}

.form_block {
    background: linear-gradient(#141e30, #243b55);
    margin: 0 auto;
    width: 24%;
    height: 317px;
    text-align: center;
    border-radius: 15px;

    .form_button {
        width: 95px;
        height: 30px;
        border-radius: 6px;
        border: none;
        background-color: blue;
        font-size: 16px;
        margin-top: 15px;
    }

    .form_button:active {
        background-color: red;
    }

    label {
        color: #fff;
        font-size: 16px;
        z-index: 1000000;
    }

    input {
        border: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        color: #fff;
        outline: none;
        font-size: 17px;
        display: block;
        margin: 0 auto;
        padding: 12px;
    }

}

.form_signUp_block{
    text-align: center;
    margin-top: 10px;
}

.form_signUp_block button {
    width: 24%;
}

