.logOutButton {
    margin-bottom: 37px;

    button {
        color: #2603FB;
        border: none;
        background: #FFF;
        font-size: 18px;
        cursor: pointer;
    }
}

#light button {
    color: #2603FB;
}

#dark button {
    color: #FFF;
    background-color: #111a2a;
}