.LogInBlock {
    transform: translate(0px, 35%);

    .logInTitle {
        text-align: center;
        margin-top: 0;
    }
}

#light .logInTitle{
    color: black;
}

#dark .logInTitle{
    color: white;
}
